<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="DipendentiDBConnectionString" connectionString="Data Source=daa-sql-svil;Initial Catalog=DipendentiDB;User ID=sa;Password=Pa$$w0rd;Max Pool Size=75;Min Pool Size=5;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
