<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DipendentiDBConnectionString"
         connectionString="Data Source=daa-sql-svil;
                           Initial Catalog=DipendentiDB;
                           User ID=sa;
                           Password=Pa$$w0rd;
                           Max Pool Size=75;
                           Min Pool Size=5;
                           MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <!-- 👇 Questa sezione risolve l'errore 403.14 -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Organigramma.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>

    <add key="UffLiv1_empty" value="22" />
    <add key="UffLiv2_empty" value="119" />
    <add key="UffLiv3_empty" value="195" />    
    <add key="logfilepath" value="C:\Windows\Logs\" />
    <add key="livelloDir" value="Dir" />
    <add key="URLOrgChart" value="http://10.26.194.146:88/#/?employee=" />
    <add key="URLOrganizationChart" value="http://10.26.194.146:88" />
    <add key="sLDAP" value="LDAP://OU=Armaereo Utenti,OU=ARMAEREO Direzione Generale,OU=DDTT,OU=SEGREDIFESA,DC=sgd,DC=difesa,DC=dom" />
  </appSettings>
</configuration>
