<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DipendentiDBConnectionString"
         connectionString="Data Source=daa-sql-svil;
                           Initial Catalog=DipendentiDB;
                           User ID=sa;
                           Password=Pa$$w0rd;
                           Max Pool Size=75;
                           Min Pool Size=5;
                           MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <!-- 👇 Questa sezione risolve l'errore 403.14 -->
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Organigramma.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
